*{
    scroll-behavior: smooth;
}
:root{
    --main-first-color:"#0E0B16";
    --main-second-color:"#4717F6";
    --main-text-color:"#E7DFDD";
    --main-hover-color:"#062F4F";
}
details
{
    transition: height .4s ease-in;
    overflow: hidden;
}

details:not([open])
{
    height: 1.25em;
}

details[open] 
{
    height: 100%;
}
